---
import BaseHead from '../components/BaseHead.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title="Hana JS"
      description="Simple, lightweight React framework for humans"
    />
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="https://docs.hana.leafphp.dev/favicon.png"
    />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="HanaJS" />
    <meta property="og:url" content="https://hanajs.dev" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="HanaJs" />
    <meta
      property="og:description"
      content="Simple, lightweight React framework for humans"
    />
    <meta
      property="og:image"
      content="https://uploads-ssl.webflow.com/625def3e532869b398ef78cf/65c66762d9cc992c3467f6ee_OpenGraph.png"
    />
    <meta name="theme-color" content="#0C0C0D" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global></style>
